<div class="container d-flex justify-content-center align-items-center">
    <div class="card p-2 w-60">
        <h3 class="text-center mb-4">Reactive Form</h3>
        <form [formGroup]="uform" (ngSubmit)="onSubmit()">
            <div class="mb-1">
                <input formControlName="name" placeholder="Name" type="text"/>
                <p *ngIf="uform.get('name')?.touched && uform.get('name')?.invalid">Name is required</p>
            </div>
            <div formArrayName="skills" class="mb-1 ">
                <div *ngFor="let skill of skills.controls; let i=index" [formGroupName]="i" class="row mb-1">
                    <div class="col-5">
                         <input formControlName="Technology" placeholder="Technology" type="text"/>
                         <p *ngIf="skill.get('Technology')?.touched && skill.get('Technology')?.invalid">Technology is required</p>
                    </div>
                    <div class="col-5">
                        <input formControlName="Experience" placeholder="Experience" type="text"/>
                        <p *ngIf="skill.get('Experience')?.touched && skill.get('Experience')?.invalid">Experience is required</p>  
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeSkill(i)">Remove</button>
                    </div>   
                </div>
            </div>
            <button type="button" class="btn btn-secondary mb-1" (click)="addSkill()">Add Skill</button>
            <button type="submit" class="btn btn-primary" [disabled]="uform.invalid">Submit</button>
        </form>
    </div>
    <div>
        <h3>Submitted Users:</h3>
            <div *ngFor="let user of submittedUsers">
                <strong>{{ user.name }}</strong>
                    <p *ngFor="let skill of user.skills">
                        {{ skill.Technology }} ({{ skill.Experience }})
                    </p>
            </div>
    </div>
</div>
