<h2>Pipes</h2>
<div class="row mx-0">
  <div class="col-4">
    <h3>Built-in Pipes</h3>
    <p>First Name: {{ firstname | lowercase }}</p>
    <p>Last Name: {{ lastname | uppercase }}</p>
    <p>Amount: {{ amount | currency: "INR" }}</p>
    <p>Amount: {{ amount | number }}</p>
    <p>Percentage: {{ percentage | percent }}</p>
    <p>Employee Name: {{ employee.name | titlecase }}</p>
    <pre>{{ employee | json }}</pre>
  </div>
  <div class="col-4">
    <h3>Custom Pipes</h3>
    <p>firstname: {{ firstname | reverse }}</p>
    <p>firstname: {{ firstname | captalize }}</p>
  </div>
  <div class="col-4"></div>
</div>

<hr />
<p>Date: {{ date | date }}</p>
<p>short Date: {{ date | date: "short" }}</p>
<p>medium Date: {{ date | date: "medium" }}</p>
<p>long Date: {{ date | date: "long" }}</p>
<p>full Date: {{ date | date: "full" }}</p>
<p>shortDate Date: {{ date | date: "shortDate" }}</p>
<p>mediumDate Date: {{ date | date: "mediumDate" }}</p>
<p>longDate Date: {{ date | date: "longDate" }}</p>
<p>fullDate Date: {{ date | date: "fullDate" }}</p>
<p>shortTime Date: {{ date | date: "shortTime" }}</p>
<p>mediumTime Date: {{ date | date: "mediumTime" }}</p>
<p>longTime Date: {{ date | date: "longTime" }}</p>
<p>fullTime: {{ date | date: "fullTime" }}</p>
<p>yyyy-MM-dd: {{ date | date: "yyyy-MM-dd" }}</p>
<p>MM/dd/yyyy: {{ date | date: "MM/dd/yyyy" }}</p>
<p>dd/MM/yyyy: {{ date | date: "dd/MM/yyyy" }}</p>
<p>EEEE, MMMM d, y: {{ date | date: "EEEE, MMMM d, y" }}</p>
<p>MMM d, y, h:mm:ss a: {{ date | date: "MMM d, y, h:mm:ss a" }}</p>
<p>yyyy-MM-dd HH:mm:ss: {{ date | date: "yyyy-MM-dd HH:mm:ss" }}</p>
