<div>
  <button mat-raised-button color="primary" (click)="openDialog()">
    Add Employee
  </button>
</div>

<br />

<table mat-table [dataSource]="employees" border="1">
  <!-- NAME -->

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>

    <td mat-cell *matCellDef="let row">
      {{ row.name }}
    </td>
  </ng-container>

  <!-- AGE -->

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Age</th>

    <td mat-cell *matCellDef="let row">
      {{ row.age }}
    </td>
  </ng-container>

  <!-- SKILLS -->

  <ng-container matColumnDef="skills">
    <th mat-header-cell *matHeaderCellDef>Skills</th>

    <td mat-cell *matCellDef="let row">
      <div *ngFor="let skill of row.skills">
        {{ skill.technology }}
        -
        {{ skill.experience }}
      </div>
    </td>
  </ng-container>

  <!-- ACTION -->

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>

    <td mat-cell *matCellDef="let row; let i = index">
      <button mat-button  color="primary" (click)="openDialog(row, i)">
        Edit
      </button>

      <button mat-button color="warn" (click)="deleteEmployee(i)">
        Delete
      </button>
    </td>
  </ng-container>

  <!-- HEADER -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- ROW -->

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
